<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			*{padding:0;margin:0;font-size: 14px;}
			ul,li{list-style:none;}
			.list{display: flex; flex-wrap: nowrap; flex-direction: row;}
			.list li div{width: 100px; height:200px; margin:5px; }
			.list li div img{width:100px; height:142px;}
			.text{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
		</style>
		<meta name="viewport" content="width=device-width" />
		<script type="text/javascript" src="vue.js"></script>
		<script src="axios.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="app">
			<div>
				<h2>近期值得看的国产剧</h2>
				<ul class="list">
					<li v-for="item in guochanList">
						<div>
							<img :src="item.cover.url" title="item.title" />
							<p class="text">{{item.title}} </p>
							<div v-if="item.rating">{{item.rating.value}}</div>
							<div v-else>暂无评分</div>
						</div>
					</li>
				</ul>
				<br>
				<h2>近期值得看的综艺节目</h2>
				<ul class="list">
					<li v-for="item in zongyiList">
						<div>
							<img :src="item.cover.url" title="item.title" />
							<p class="text">{{item.title}}</p>
							<div v-if="item.rating">{{item.rating.value}}</div>
							<div v-else>暂无评分</div>
						</div>
					</li>
				</ul>
				<br>
				<h2>近期值得看的英美剧</h2>
				<ul class="list">
					<li v-for="item in yingmeiList">
						<div>
							<img :src="item.cover.url" title="item.title" />
							<p class="text">{{item.title}}</p>
							<div v-if="item.rating">{{item.rating.value}}</div>
							<div v-else>暂无评分</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<script type="text/javascript">
			window.onload = function() {

				var vm = new Vue({
					el: "#app",
					data: {
						guochanList: [],
						zongyiList: [],
						yingmeiList: []
					},
					// 在钩子函数中获取数据
					//axios文档  https://www.kancloud.cn/yunye/axios/234845  
					mounted: function() {
						//国产
						function getmovie1() {
							return axios.get('dianshiju.json');
						}
						//综艺
						function getmovie2() {
							return axios.get('zongyi.json');
						}
						//美剧
						function getmovie3() {
							return axios.get('yingmei.json')
						}
						axios.all([getmovie1(), getmovie2(), getmovie3()])
							.then(axios.spread((one, two, three) => {
								// 请求现在都执行完成
								console.log(one, two, three)
								this.guochanList = one.data.subject_collection_items;
								this.zongyiList = two.data.subject_collection_items;
								this.yingmeiList = three.data.subject_collection_items;

							}));
					}
				})
			}
		</script>
	</body>
</html>
